<div class="form-group">
    <div class="clr-form-control clr-row">
        <label
            *ngIf="label"
            [attr.for]="id"
            class="clr-control-label clr-col-12 clr-col-md-2"
            [ngClass]="{ 'required-field': showAsterisk }"
            >{{ label }}</label
        >
        <span *ngIf="isReadOnly && selectedOption" class="readOnly">
            {{ selectedOption.isTranslatable ? (selectedOption.display | translate) : selectedOption.display }}
        </span>
        <div class="clr-control-container clr-col-12 clr-col-md-10" [ngClass]="{ 'clr-error': showErrors }">
            <div class="clr-select-wrapper" *ngIf="!isReadOnly">
                <select
                    [id]="id"
                    [attr.aria-required]="showAsterisk"
                    [attr.aria-describedby]="showErrors ? errorsId : ''"
                    [formControl]="formControl"
                >
                    <option *ngFor="let option of options" [value]="option.value">
                        {{ option.isTranslatable ? (option.display | translate) : option.display }}
                    </option>
                </select>
                <clr-icon *ngIf="showErrors" class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            </div>

            <ng-content select="aside"></ng-content>

            <span class="clr-subtext" *ngIf="showErrors" [id]="errorsId">
                <div *ngFor="let key of errorKeys">
                    <div>{{ key | translate: [formControl.value] }}</div>
                </div>
            </span>
        </div>
    </div>
    <span class="clr-subtext">
        <ng-content select="footer"></ng-content>
    </span>
</div>
