.form-group.hide-label {
    padding-left: 0;
}

.form-group.hide-label label:first-child {
    visibility: hidden;
}

.error-content {
    white-space: normal;
}

:host(.site-selector-single-site) {
    display: none;
}

label {
    white-space: normal;
}

clr-signpost-content {
    white-space: pre;
}

clr-signpost {
    // Offset margin right on the button rendered by the signpost so there's
    // no extra room after the signpost
    margin-right: -12px;
}
