<div class="form-group">
    <div
        class="clr-form-control"
        [vcdResponsiveInput]="{ disabled: !isResponsive }"
        [ngClass]="{ 'clr-form-control-disabled': disabled }"
    >
        <label *ngIf="!hideLabel" [for]="id" class="clr-control-label" [ngClass]="{ 'required-field': showAsterisk }">{{
            label
        }}</label>
        <span *ngIf="isReadOnly && selectedOption" class="readOnly">
            {{ selectedOption.isTranslatable ? (selectedOption.display | translate) : selectedOption.display }}
        </span>
        <div class="clr-control-container" [ngClass]="{ 'clr-error': showErrors }">
            <div class="clr-select-wrapper" [ngClass]="{ 'showing-hint': !!hint }" *ngIf="!isReadOnly">
                <select
                    class="clr-select"
                    [id]="id"
                    [attr.aria-label]="!hideLabel ? null : label"
                    [attr.aria-required]="showAsterisk"
                    [attr.aria-describedby]="showErrors ? errorsId : descriptionId"
                    [formControl]="formControl"
                >
                    <option *ngFor="let option of options" [value]="option.value" [disabled]="option.disabled">
                        {{ option.isTranslatable ? (option.display | translate) : option.display }}
                    </option>
                </select>
                <clr-icon *ngIf="showErrors" class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            </div>

            <ng-content select="aside"></ng-content>

            <clr-signpost *ngIf="hint && !showErrors">
                <clr-signpost-content [clrPosition]="hintPosition" *clrIfOpen>
                    <p>{{ hint }}</p>
                </clr-signpost-content>
            </clr-signpost>

            <span class="clr-subtext" *ngIf="showErrors" [id]="errorsId">
                <div *ngFor="let error of translatedErrors">
                    <div>{{ error }}</div>
                </div>
            </span>

            <span class="clr-subtext" *ngIf="!showErrors && description" [id]="descriptionId">
                {{ description }}
            </span>
        </div>
    </div>
    <span class="clr-subtext">
        <ng-content select="footer"></ng-content>
    </span>
</div>
