<div>
    <button (click)="spotlightOpen = !spotlightOpen">
        Press to toggle Quick Search and search through the actions
    </button>
    <p>
        Notice that there is a spinner displayed initially for 300ms before displaying the action items. This is because
        the action search provider is created to debounce the search using 2nd argument(boolean) passed to its
        constructor.
    </p>
    <vcd-action-menu
        [actions]="actions"
        [actionDisplayConfig]="actionDisplayConfig"
        [selectedEntities]="selectedEntities"
        [dropdownTriggerBtnText]="'vcd.cc.action.menu.actions'"
    >
    </vcd-action-menu>
</div>

<vcd-quick-search [(open)]="spotlightOpen" [placeholder]="'Search contextual actions'"></vcd-quick-search>
