<h4>Using fixed width and small tooltip</h4>
<label>Text for div below: <input [(ngModel)]="text" type="text"/></label>
<div [vcdShowClippedText]="{ size: TooltipSize.sm }" class="fixed-width">{{ text }}</div>

<h4>Using Max width using medium tooltip</h4>
<label>Text for div below: <input [(ngModel)]="text2" type="text"/></label><br />
<div [vcdShowClippedText]="{ size: TooltipSize.md }" class="max-width">{{ text2 }}</div>

<h4>This div is a standard block using large tooltip</h4>
<label>Text for div below: <input [(ngModel)]="text3" type="text"/></label>
<div [vcdShowClippedText]="{ size: TooltipSize.lg }">{{ text3 }}</div>
