language: node_js
node_js:
    - 13
cache:
    directories:
        - dist/components
        - dist/doc-lib
        - dist/i18n
        - dist/examples
        - coverage
stages:
    - prepare
    - build-i18n
    - build-components-lib
    - build-doc-lib
    - build-app
    - test
    - publish
    - deploy
jobs:
    include:
        - stage: prepare
          name: Lint
          script:
              - npm run lint i18n
              - npm run lint components
              - npm run lint doc-lib
              - npm run lint examples

        - stage: build-components-lib
          name: Build /components
          script: npm run build:components

        - stage: build-doc-lib
          name: Build /doc-lib
          script:
              - npm run build:doc-lib:scripts-dev
              - npm run build:doc-lib

        - stage: build-i18n
          name: Build /i18n
          script: npm run build:i18n

        - stage: build-app
          name: Build /examples
          script:
              - npm run build-components-doc
              - npm run build-examples-doc
              - npm run generate-translations
              - npm run generate-example-translations
              - npm run build:examples-prod

        - stage: test
          name: Unit tests
          script:
              - npm run test:ci:components
              - npm run test:ci:doc-lib
              - npm run test:ci:i18n
          after_success:
              - ./node_modules/.bin/codecov

        - stage: publish
          name: Publishing components to npm registry
          script: skip
          before_deploy:
              - cd ./dist/components
          deploy:
              edge: true
              skip_cleanup: true
              provider: npm
              api_key:
                  secure: $NPM_TOKEN
              on:
                  repo: vmware/vmware-cloud-director-ui-components
                  tags: true
                  condition: $TRAVIS_TAG =~ ^components-v[0-999].[0-999].[0-999]$
        - stage: publish
          name: Publishing doc-lib to npm registry
          script: skip
          before_deploy:
              - cd ./dist/doc-lib
          deploy:
              edge: true
              skip_cleanup: true
              provider: npm
              api_key:
                  secure: $NPM_TOKEN
              on:
                  repo: vmware/vmware-cloud-director-ui-components
                  tags: true
                  condition: $TRAVIS_TAG =~ ^doc-lib-v[0-999].[0-999].[0-999]$
        - stage: publish
          name: Publishing i18n to npm registry
          script: skip
          before_deploy:
              - cd ./dist/i18n
          deploy:
              edge: true
              skip_cleanup: true
              provider: npm
              api_key:
                  secure: $NPM_TOKEN
              on:
                  repo: vmware/vmware-cloud-director-ui-components
                  tags: true
                  condition: $TRAVIS_TAG =~ ^i18n-v[0-999].[0-999].[0-999]$

        - stage: deploy
          name: Deploying to Github pages
          script:
              - ng deploy --no-build
          if: branch = master AND repo = vmware/vmware-cloud-director-ui-components AND type != pull_request
