Click <button class="btn" (click)="spotlightOpen = true">here</button> to open the Quick Search. <br /><br />
Quick search gives the client the ability to register filters to filter search results. A filer simply has a name and
options that can be selected. These filters are activated by typing name:option.
<br /><br />
A filter can then filter either the list of providers that are active, or filter the results in a given provider. This
is all handled from the provider side.
<br /><br />
If two filters of the same name are present, they should be joined by "or". If two filters of different names are
present, they should be joined by "and".
<br /><br />
In this example, there are two filters present: "type" and "is". Type will filter the results by provider ID, and is a
dynamic filter that will filter the results on if they are real action.
<br /><br />
Users are able to navigate through the filters both by typing and by using the mouse. Typing (name): will bring up a
dropdown that allows the user to either scroll through using the keyboard or by clicking.
<vcd-quick-search [(open)]="spotlightOpen" [filters]="filters"> </vcd-quick-search>
