<button class="btn" (click)="spotlightOpen = true">Press to open Quick Search</button>
<p>
    Quick search gives the client the ability to register filters to filter search results. A filter simply has a name
    and options that can be selected.
</p>
<p>
    A filter can then filter either the list of providers that are active, or filter the results in a given provider.
    This is all handled from the provider side.
</p>
<p>
    If two filters of the same name are present, they should be joined by "or". If two filters of different names are
    present, they should be joined by "and".
</p>
<p>In this example, there are two filters present:</p>

<ul class="list">
    <li>
        "Provider": this filter can filter the results by provider ID. Meaning users can filter the results so they only
        see items from one specific provider.
    </li>
    <li>
        "Result": this filter can filter the results by their text. In this example, if the "Fake" filter is selected,
        the result will contain "dummy". If the "Real" filter is selected, the result will contain entries that do not
        contain "dummy"
    </li>
</ul>
<p>
    The users are able to select these filters through the dropdowns. Click either dropdown to open the filter options,
    and select an option. The selected option is then shown as a bubble that can be deleted using the close button. The
    text for this bubble is provided as a translation key that takes one parameter "option" which is the text of the
    option selected.
</p>
<vcd-quick-search [(open)]="spotlightOpen"> </vcd-quick-search>
