<div>
    <button class="btn" (click)="spotlightOpen = !spotlightOpen">Press to show Quick Search</button>
    <p>
        If there is an action with no children, it is not displayed in the search results. Try searching for `No
        children action` being passed in the list of actions and notice that it is not going to be a search result.
    </p>
    <vcd-action-menu
        [actions]="actions"
        [actionDisplayConfig]="actionDisplayConfig"
        [selectedEntities]="selectedEntities"
        [dropdownTriggerBtnText]="'vcd.cc.action.menu.actions'"
    >
    </vcd-action-menu>
</div>

<vcd-quick-search [(open)]="spotlightOpen" [placeholder]="'Search contextual actions'"></vcd-quick-search>
