<div>
    <div>Use action items as separators to add a separator between action items in a dropdown</div>
    <div>
        As each item decides its own availability, some groups may become empty and multiple separators can become
        contiguous and we collapse the separators if they are contiguous
    </div>
    <div>
        In the following example, Separator at index 3 is collapsed. Please take a look in the TS at dropdown list items
        at indices 3 and 4
    </div>
    <vcd-action-menu
        [actions]="actions"
        [actionDisplayConfig]="actionDisplayConfig"
        [dropdownTriggerBtnText]="'vcd.cc.action.menu.actions'"
    >
    </vcd-action-menu>
</div>
