<div class="inline-actions-container" *ngIf="shouldDisplayActionsInline">
    <ng-container *ngIf="shouldDisplayStaticFeaturedActionsInline">
        <ng-container *ngFor="let action of staticFeaturedActions; trackBy: actionsTrackBy">
            <ng-template
                *ngTemplateOutlet="
                    isObservable(action.availability) ? obsTmpl : actionButtonTmpl;
                    context: { $implicit: action }
                "
            ></ng-template>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="shouldDisplayContextualActionsInline">
        <ng-container *ngFor="let action of contextualFeaturedActions; trackBy: actionsTrackBy">
            <ng-template
                *ngTemplateOutlet="
                    isObservable(action.availability) ? obsTmpl : actionButtonTmpl;
                    context: { $implicit: action }
                "
            ></ng-template>
        </ng-container>

        <vcd-dropdown
            vcdDropdownFocusHandler
            class="inline-action-dropdown"
            *ngIf="shouldDisplayContextualActionsDropdownInline"
            [items]="contextualActions"
            [trackByFunction]="actionsTrackBy"
            [dropdownPosition]="dropdownPosition"
            [nestedDropdownPosition]="nestedDropdownPosition"
            [selectedEntities]="getSelectedEntities()"
            [dropdownTriggerBtnTxt]="inlineDropdownTriggerBtnText | translate"
            [dropdownItemContents]="actionDisplayConfig.contextual.buttonContents"
            [isDropdownDisabled]="disabled"
        ></vcd-dropdown>
    </ng-container>

    <ng-container *ngIf="shouldDisplayStaticActionsInline">
        <div class="static-actions-separator"></div>
        <ng-container *ngFor="let action of staticActions; trackBy: actionsTrackBy">
            <ng-template
                *ngTemplateOutlet="
                    isObservable(action.availability) ? obsTmpl : actionButtonTmpl;
                    context: { $implicit: action }
                "
            ></ng-template>
        </ng-container>
    </ng-container>
</div>

<vcd-dropdown
    vcdDropdownFocusHandler
    *ngIf="shouldDisplayStaticAndStaticFeaturedActionsDropdown"
    [items]="staticDropdownActions"
    [trackByFunction]="actionsTrackBy"
    [dropdownPosition]="dropdownPosition"
    [nestedDropdownPosition]="nestedDropdownPosition"
    [selectedEntities]="getSelectedEntities()"
    [dropdownTriggerBtnTxt]="dropdownTriggerBtnText | translate"
    [dropdownTriggerBtnIcon]="dropdownTriggerBtnIcon"
    [dropdownItemContents]="actionDisplayConfig.contextual.buttonContents"
    [isDropdownDisabled]="disabled"
></vcd-dropdown>

<vcd-dropdown
    vcdDropdownFocusHandler
    *ngIf="shouldDisplayContextualActionsDropdown"
    [items]="contextualActions"
    [trackByFunction]="actionsTrackBy"
    [dropdownPosition]="dropdownPosition"
    [nestedDropdownPosition]="nestedDropdownPosition"
    [selectedEntities]="getSelectedEntities()"
    [dropdownTriggerBtnTxt]="dropdownTriggerBtnText | translate"
    [dropdownTriggerBtnIcon]="dropdownTriggerBtnIcon"
    [dropdownItemContents]="actionDisplayConfig.contextual.buttonContents"
    [isDropdownDisabled]="disabled"
></vcd-dropdown>

<ng-template #obsTmpl let-action>
    <ng-template
        *ngIf="action[lastAvailabilityValue]"
        [ngTemplateOutlet]="actionButtonTmpl"
        [ngTemplateOutletContext]="{ $implicit: action }"
    ></ng-template>
</ng-template>

<ng-template #actionButtonTmpl let-action>
    <button
        *ngIf="action.availability"
        class="btn btn-link"
        [ngClass]="action.class"
        (click)="runActionHandler(action)"
        [disabled]="isActionDisabled(action)"
        [attr.data-ui]="action.textKey"
    >
        <ng-container *ngIf="shouldShowText">{{
            action.isTranslatable === false ? action.textKey : (action.textKey | translate)
        }}</ng-container>

        <a *ngIf="shouldShowIcon" role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
            <clr-icon [attr.size]="'1em'" [attr.shape]="action.icon"></clr-icon>
            <span class="tooltip-content" *ngIf="shouldShowTooltip">{{
                action.isTranslatable === false ? action.textKey : (action.textKey | translate)
            }}</span>
        </a>
    </button>
</ng-template>
