<div class="inline-actions-container" *ngIf="shouldDisplayActions(actionStyling.INLINE)">
    <ng-container *ngIf="shouldDisplayStaticFeaturedActions(actionStyling.INLINE)">
        <ng-container *ngFor="let action of staticFeaturedActions; trackBy: actionsTrackBy">
            <ng-template *ngTemplateOutlet="actionButton; context: { $implicit: action }"></ng-template>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="shouldDisplayContextualActions(actionStyling.INLINE)">
        <ng-container *ngFor="let action of contextualFeaturedActions; trackBy: actionsTrackBy">
            <ng-template *ngTemplateOutlet="actionButton; context: { $implicit: action }"></ng-template>
        </ng-container>

        <vcd-dropdown
            [items]="contextualActions"
            [trackByFunction]="actionsTrackBy"
            [dropdownPosition]="dropdownPosition"
            [nestedDropdownPosition]="nestedDropdownPosition"
            [onItemClickedCb]="runActionHandler.bind(this)"
            [isItemDisabledCb]="isActionDisabled.bind(this)"
            [dropdownTriggerBtnTxt]="btnText"
            [shouldShowIcon]="shouldShowIcon"
            [shouldShowText]="shouldShowText"
            [shouldShowTooltip]="shouldShowTooltip"
        ></vcd-dropdown>
    </ng-container>

    <div
        class="static-actions-separator"
        *ngIf="
            shouldDisplayStaticFeaturedActions(actionStyling.INLINE) && shouldDisplayStaticActions(actionStyling.INLINE)
        "
    ></div>

    <ng-container *ngIf="shouldDisplayStaticActions(actionStyling.INLINE)">
        <ng-container *ngFor="let action of staticActions; trackBy: actionsTrackBy">
            <ng-template *ngTemplateOutlet="actionButton; context: { $implicit: action }"></ng-template>
        </ng-container>
    </ng-container>
</div>

<vcd-dropdown
    *ngIf="
        shouldDisplayStaticActions(actionStyling.DROPDOWN) || shouldDisplayStaticFeaturedActions(actionStyling.DROPDOWN)
    "
    [items]="staticDropdownActions"
    [trackByFunction]="actionsTrackBy"
    [dropdownPosition]="dropdownPosition"
    [nestedDropdownPosition]="nestedDropdownPosition"
    [onItemClickedCb]="runActionHandler.bind(this)"
    [isItemDisabledCb]="isActionDisabled.bind(this)"
    [dropdownTriggerBtnTxt]="btnText"
    [shouldShowIcon]="shouldShowIcon"
    [shouldShowText]="shouldShowText"
    [shouldShowTooltip]="shouldShowTooltip"
></vcd-dropdown>

<vcd-dropdown
    *ngIf="shouldDisplayContextualActions(actionStyling.DROPDOWN)"
    [items]="contextualDropdownActions"
    [trackByFunction]="actionsTrackBy"
    [dropdownPosition]="dropdownPosition"
    [nestedDropdownPosition]="nestedDropdownPosition"
    [onItemClickedCb]="runActionHandler.bind(this)"
    [isItemDisabledCb]="isActionDisabled.bind(this)"
    [dropdownTriggerBtnTxt]="btnText"
    [shouldShowIcon]="shouldShowIcon"
    [shouldShowText]="shouldShowText"
    [shouldShowTooltip]="shouldShowTooltip"
></vcd-dropdown>

<ng-template #actionButton let-action>
    <button
        class="btn btn-link action-button"
        [ngClass]="action.class"
        (click)="runActionHandler(action)"
        [disabled]="isActionDisabled(action)"
    >
        {{ action.isNotTranslatable ? action.textKey : (action.textKey | translate) }}
    </button>
</ng-template>
