.inline-actions-container {
    display: flex;
    flex-direction: row;

    & > .static-actions-separator {
        flex: 1 1 auto;
    }

    & .inline-action-dropdown {
        & ::ng-deep .nested-dropdown > .first-dropdown-toggle {
            // Without this, Clarity styles from .dropdown-toggle are making the margin-top as 0 px
            margin-top: 0.3rem;
        }
    }
}
