<h4>Contextual action display configuration:</h4>
<form [formGroup]="contextualFormGroup" class="clr-form-horizontal">
    <vcd-form-select
        [label]="'Styling'"
        [description]="'Display actions inline or in a dropdown'"
        [options]="stylingOptions"
        [formControlName]="'styling'"
    >
    </vcd-form-select>

    <vcd-form-select
        [label]="'Button Contents'"
        [description]="'Content of action buttons'"
        [options]="buttonContentsOptions"
        [formControlName]="'buttonContents'"
    >
    </vcd-form-select>

    <vcd-form-select
        [label]="'Position'"
        [description]="'Where in the datagrid should the contextual actions be displayed'"
        [options]="positionOptions"
        [formControlName]="'position'"
    >
    </vcd-form-select>

    <vcd-form-input
        [label]="'Featured action count'"
        [description]="
            'How many of the contextual actions that are marked as featured should be displayed in featured section'
        "
        [type]="'number'"
        [formControlName]="'featuredCount'"
    >
    </vcd-form-input>
</form>

<vcd-datagrid
    [gridData]="gridData"
    (gridRefresh)="refresh($event)"
    [columns]="columns"
    [actions]="actions"
    [actionDisplayConfig]="actionDisplayConfig"
    [selectionType]="selectionType"
></vcd-datagrid>

<h4>The contextual action display configuration selected:</h4>

<pre><code>{{ actionDisplayConfig | json }}</code></pre>
