/*!
 * Copyright 2020 VMware, Inc.
 * SPDX-License-Identifier: BSD-2-Clause
 */

::ng-deep .col-1 {
    width: 2in;
}

::ng-deep .col-2 {
    width: 200px;
}

::ng-deep .col-3 {
    width: 4em;
}

::ng-deep .col-4 {
    width: 50pt;
}
