/*!
 * Copyright 2020 VMware, Inc.
 * SPDX-License-Identifier: BSD-2-Clause
 */

// The amount of padding that should be placed above and below a button group.
$PADDING: 5px;
// How wide a single button should be.
$BUTTON_WIDTH: 50px;

$supported-buttons: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19);

@each $num in $supported-buttons {
    .buttons-#{$num} {
        flex: 0 0 auto;
        min-width: #{$BUTTON_WIDTH * ($num + 1.5)} !important;
        max-width: 400px;
        padding-left: #{$BUTTON_WIDTH/4};
    }
}

:host {
    &.fill-parent {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

// The height properties need to be marked as important because of a bug in Clarity
// where when the page size is the same as the number of items in the datagrid
// the datagrid height will get set to 0

.fill-parent-grid {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: unset !important;
}

.set-height {
    height: var(--datagrid-height) !important;
}

.vcd-header {
    flex: 0 1 auto;
}

.action-button-cell {
    padding-top: $PADDING;
    padding-bottom: $PADDING;
}

.action-button-group {
    height: 100%;
    margin-bottom: #{$PADDING * -2};
}

.action-button {
    height: 100%;
    margin-bottom: #{$PADDING * -2};
    width: $BUTTON_WIDTH !important;
}

.dropdown-small {
    min-width: unset;
}

.action-icon {
    margin-bottom: $PADDING;
}
