<clr-datagrid [clrDgLoading]="isLoading" [ngClass]="this.clrDatagridCssClass" (clrDgRefresh)="gridStateChanged($event)">
    <clr-dg-column *ngFor="let column of columnsConfig" [clrDgField]="column.queryFieldName">
        <ng-container *ngIf="isColumnHideable(column); else notHideable">
            <ng-container *clrDgHideableColumn="{ hidden: column.hideable === GridColumnHideable.Hidden }">{{
                column.displayName
            }}</ng-container>
        </ng-container>
        <ng-template #notHideable>{{ column.displayName }}</ng-template>
    </clr-dg-column>

    <clr-dg-row
        *ngFor="let restItem of items; let i = index"
        [ngForTrackBy]="trackBy"
        [ngClass]="this.clrDatarowCssClassGetter(restItem, i)"
        [clrDgItem]="restItem"
    >
        <clr-dg-cell *ngFor="let column of columnsConfig">
            <!-- Default renderer -->
            <ng-container *ngIf="column.fieldName">{{ restItem | nestedProperty: column.fieldName }}</ng-container>

            <!-- Renderer is a function -->
            <ng-container *ngIf="column.fieldRenderer">{{
                restItem | functionRenderer: column.fieldRenderer
            }}</ng-container>

            <!-- Renderer is a componentRenderer -->
            <ng-template
                *ngIf="column.fieldColumnRendererSpec"
                [vcdComponentRendererOutlet]="{ rendererSpec: column.fieldColumnRendererSpec, context: restItem }"
            >
            </ng-template>
        </clr-dg-cell>
        <ng-container ngProjectAs="clr-dg-row-detail" *ngIf="detailTemplate !== undefined">
            <clr-dg-row-detail *clrIfExpanded>
                <ng-content *ngTemplateOutlet="detailTemplate; context: { record: restItem }"> </ng-content>
            </clr-dg-row-detail>
        </ng-container>
    </clr-dg-row>
    <clr-dg-footer> </clr-dg-footer>
</clr-datagrid>
