<h3 *ngIf="this.header" class="vcd-header">{{ header }}</h3>
<vcd-spinner-activity-reporter #actionReporter *ngIf="ActivityIndicatorType.SPINNER === indicatorType">
</vcd-spinner-activity-reporter>
<vcd-banner-activity-reporter #actionReporter *ngIf="ActivityIndicatorType.BANNER === indicatorType">
</vcd-banner-activity-reporter>
<clr-datagrid
    [clrDgLoading]="isLoading"
    [ngClass]="[this.clrDatagridCssClass, this.height ? 'set-height' : 'fill-parent-grid']"
    (clrDgRefresh)="gridStateChanged($event)"
>
    <clr-dg-placeholder>{{ emptyGridPlaceholder }}</clr-dg-placeholder>
    <clr-dg-action-bar *ngIf="shouldShowActionBar()">
        <div class="btn-group" *ngFor="let button of buttonConfig.globalButtons">
            <button
                class="btn"
                [ngClass]="button.class"
                *ngIf="isButtonShown(button)"
                (click)="runButtonHandler(button, [])"
                [disabled]="isButtonDisabled(button, button.isActive())"
            >
                <ng-container>{{ button.label }}</ng-container>
            </button>
        </div>

        <ng-container *ngIf="shouldDisplayButtonsOnTop()">
            <ng-container *ngTemplateOutlet="featuredBar; context: { $implicit: datagridSelection }"></ng-container>
            <ng-container *ngIf="this.getFeaturedButtons().length === 0">
                <ng-container *ngTemplateOutlet="dropdown"></ng-container>
            </ng-container>
        </ng-container>
    </clr-dg-action-bar>

    <clr-dg-column *ngIf="shouldDisplayButtonsOnRow()" [ngClass]="'buttons-' + this.getMaxFeaturedButtonsOnRow()">
        Actions
    </clr-dg-column>
    <clr-dg-column
        *ngFor="let column of columnsConfig"
        [clrDgSortBy]="column.sortable !== false && column.queryFieldName"
        (clrDgSortOrderChange)="resetToPageOne()"
    >
        <ng-container *ngIf="isColumnHideable(column); else notHideable">
            <ng-container *clrDgHideableColumn="{ hidden: column.hideable === GridColumnHideable.Hidden }">{{
                column.displayName
            }}</ng-container>
        </ng-container>
        <ng-template #notHideable>{{ column.displayName }}</ng-template>
        <clr-dg-filter *ngIf="column.queryFieldName && column.filter">
            <ng-template [vcdComponentRendererOutlet]="{ rendererSpec: column.filter }"> </ng-template>
        </clr-dg-filter>
    </clr-dg-column>

    <!--The trackBy in the ngFor is to inform Angular on how to track changes to clrDgRow.
        Whereas the trackBy in ngForTrackBy is to inform Clarity on how to track changes to it's
        items. -->
    <clr-dg-row
        *ngFor="let restItem of items; let i = index; let count = count; trackBy: trackBy"
        [ngForTrackBy]="trackBy"
        [ngClass]="this.clrDatarowCssClassGetter(restItem, i)"
        [clrDgItem]="restItem"
    >
        <clr-dg-cell
            *ngIf="shouldDisplayButtonsOnRow()"
            class="action-button-cell"
            [ngClass]="'buttons-' + this.getMaxFeaturedButtonsOnRow()"
        >
            <ng-container
                *ngTemplateOutlet="
                    featuredBar;
                    context: {
                        $implicit: [restItem],
                        groupClass: 'action-button-group',
                        buttonClass: 'action-button',
                        iconClass: 'action-icon'
                    }
                "
            ></ng-container>
        </clr-dg-cell>

        <clr-dg-cell [vcdShowClippedText]="column.cliptextConfig" *ngFor="let column of columnsConfig">
            <!-- Default renderer -->
            <ng-container *ngIf="column.fieldName">{{ restItem | nestedProperty: column.fieldName }}</ng-container>

            <!-- Renderer is a function -->
            <ng-container *ngIf="column.fieldRenderer">{{
                restItem | functionRenderer: column.fieldRenderer
            }}</ng-container>

            <!-- Renderer is a componentRenderer -->
            <ng-template
                *ngIf="column.fieldColumnRendererSpec"
                [vcdComponentRendererOutlet]="{ rendererSpec: column.fieldColumnRendererSpec, context: restItem }"
            >
            </ng-template>
        </clr-dg-cell>

        <ng-container ngProjectAs="clr-dg-row-detail" *ngIf="detailComponent !== undefined">
            <clr-dg-row-detail *clrIfExpanded>
                <ng-template
                    [vcdComponentRendererOutlet]="{
                        rendererSpec: getDetailRenderSpec(restItem, i, count)
                    }"
                >
                </ng-template>
            </clr-dg-row-detail>
        </ng-container>
    </clr-dg-row>

    <clr-dg-footer>
        <clr-dg-pagination
            #paginationData
            [clrDgTotalItems]="totalItems"
            [clrDgPageSize]="this.pageSize"
            [clrDgPageInputDisabled]="!this.pagination.shouldShowPageNumberInput"
        >
            <div>{{ paginationCallbackWrapper(paginationData) | lazyString }}</div>
            <clr-dg-page-size
                [clrPageSizeOptions]="this.pageSizeOptions"
                *ngIf="this.pagination.shouldShowPageSizeSelector"
                >{{ paginationDropdownText }}</clr-dg-page-size
            >
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>

<ng-template
    #featuredBar
    let-selection
    let-groupClass="groupClass"
    let-buttonClass="buttonClass"
    let-iconClass="iconClass"
>
    <div class="btn-group" [ngClass]="groupClass">
        <button
            class="btn btn-icon"
            *ngFor="let button of this.getFeaturedButtons(selection)"
            (click)="runButtonHandler(button, selection)"
            [disabled]="isButtonDisabled(button, button.isActive(selection))"
            [ngClass]="!buttonClass ? [button.class] : [button.class, buttonClass]"
        >
            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm" *ngIf="shouldShowIcon()">
                <clr-icon size="1em" [attr.shape]="button.icon" [ngClass]="iconClass"></clr-icon>
                <span class="tooltip-content" *ngIf="shouldShowTooltip()">{{ button.label }}</span>
            </a>
            <ng-container *ngIf="shouldShowText()">{{ button.label }}</ng-container>
        </button>
        <ng-container
            *ngIf="
                this.getFeaturedButtons(selection).length !== this.buttonConfig.contextualButtonConfig.buttons.length
            "
        >
            <ng-container
                *ngTemplateOutlet="dropdown; context: { buttonClass: buttonClass, iconClass: iconClass }"
            ></ng-container>
        </ng-container>
    </div>
</ng-template>

<ng-template #dropdown let-buttonClass="buttonClass" let-iconClass="iconClass">
    <clr-dropdown class="btn-group-overflow open" *ngIf="hasContextualButtons()" [ngClass]="buttonClass">
        <button class="btn dropdown-toggle dropdown-small" clrDropdownTrigger [ngClass]="buttonClass">
            <clr-icon shape="ellipsis-horizontal" [ngClass]="iconClass"></clr-icon>
        </button>
        <clr-dropdown-menu class="dropdown-menu" *clrIfOpen>
            <button
                *ngFor="let button of buttonConfig.contextualButtonConfig.buttons"
                class="btn"
                [ngClass]="button.class"
                [disabled]="!button.isActive(this.datagridSelection)"
                (click)="runButtonHandler(button, this.datagridSelection)"
            >
                {{ button.label }}
            </button>
        </clr-dropdown-menu>
    </clr-dropdown>
</ng-template>
