<ng-template #sectionTitle let-searchSection>
    <div class="section-title-wrapper">
        <clr-icon *ngIf="searchSection.icon" [attr.shape]="searchSection.icon" size="20"> </clr-icon>
        <div *ngIf="searchSection.hasPartialResult; let partial; else: partial">
            {{
                'vcd.cc.quickSearch.partialResultTitle'
                    | translate
                        : {
                              title: searchSection.provider.sectionName,
                              lastItem: partial.lastItem,
                              totalItems: partial.totalItems
                          }
            }}
        </div>
        <ng-template #partial>
            {{ searchSection.provider.sectionName }}
        </ng-template>
    </div>
</ng-template>

<ng-template #filtersSection>
    <div class="filter-container" *ngIf="this.searchService.filters.length > 0">
        <p>{{ 'vcd.cc.search.filterBy' | translate }}</p>
        <ng-container *ngFor="let filter of this.searchService.filters; trackBy: filterTrackBy">
            <clr-dropdown
                [clrCloseMenuOnItemClick]="false"
                *ngIf="filter.options.length > 1"
                (keydown.arrowup)="$event.stopPropagation()"
                (keydown.arrowdown)="$event.stopPropagation()"
                (keydown.enter)="$event.stopPropagation()"
            >
                <button
                    class="dropdown-toggle btn btn-link"
                    type="button"
                    clrDropdownTrigger
                    [attr.data-ui]="DataUi.filterButton(filter.id)"
                    [attr.aria-label]="'vcd.cc.search.filterBy.btn.label' | translate: filter.dropdownText"
                >
                    {{ filter.dropdownText }}
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu clrPosition="bottom" *clrIfOpen #dropdownMenu>
                    <li
                        clrDropdownItem
                        *ngFor="let option of filter.options; trackBy: filterOptionTrackBy"
                        (click)="searchService.selectFilter(filter.id, [option.key], false)"
                    >
                        <clr-checkbox-wrapper class="column-checkbox">
                            <input
                                type="checkbox"
                                clrCheckbox
                                (click)="$event.stopPropagation()"
                                [ngModel]="getFilterOptionValue(filter.id, option.key)"
                                (ngModelChange)="searchService.selectFilter(filter.id, [option.key], false)"
                                [attr.data-ui]="DataUi.filterDropdownItem"
                            />
                            <label (click)="$event.stopPropagation()">{{ option.display }}</label>
                        </clr-checkbox-wrapper>
                    </li>
                </clr-dropdown-menu>
            </clr-dropdown>
        </ng-container>
    </div>
    <div>
        <ng-container *ngFor="let filter of this.searchService.filters; trackBy: filterTrackBy">
            <span
                class="filter-bubble label"
                *ngFor="let option of _filterValues.get(filter.id); trackBy: filterOptionTrackBy"
            >
                <span [vcdShowClippedText]="{ disabled: !open }">{{
                    filter.bubbleI18nKey | translate: { option: option.display }
                }}</span>
                <button
                    type="button"
                    class="btn btn-icon btn-link remove-col-button"
                    aria-label="home"
                    (click)="searchService.selectFilter(filter.id, [option.key], false)"
                >
                    <clr-icon shape="close" class="badge badge-info"> </clr-icon>
                </button>
            </span>
        </ng-container>
    </div>
</ng-template>

<ng-template let-searchSection #searchSectionTemplate>
    <ul class="list-unstyled compact" role="none">
        <li
            class="search-result-item"
            role="row"
            *ngFor="let item of searchSection.result?.items; let i = index"
            (click)="itemClicked(item)"
            [ngClass]="item === selectedItem ? 'selected' : ''"
            [attr.data-ui]="DataUi.searchResultItems"
        >
            <span role="gridcell">
                <button [vcdAriaActiveDescendant]="item === selectedItem">
                    {{ item.displayText }}
                </button>
            </span>
        </li>
        <li>
            <clr-alert
                *ngIf="searchSection.hasPartialResult"
                [clrAlertType]="'warning'"
                [clrAlertSizeSmall]="true"
                [clrAlertClosable]="false"
            >
                <clr-alert-item [attr.data-ui]="DataUi.searchResultAlerts">
                    {{ 'vcd.cc.quickSearch.refineQuery' | translate: { max: searchSection.result.items.length } }}
                </clr-alert-item>
            </clr-alert>
        </li>
    </ul>
</ng-template>

<ng-template #quickSearchInterior>
    <div class="search-input-container" data-ui="search-input-container">
        <div class="search-icon-container">
            <clr-icon shape="search" size="20" *ngIf="!searchService.isLoading"></clr-icon>
            <clr-spinner
                [clrSmall]="true"
                [clrInline]="true"
                [attr.data-ui]="DataUi.spinner"
                *ngIf="searchService.isLoading"
            ></clr-spinner>
        </div>
        <input
            #searchInput
            type="search"
            role="searchbox"
            class="clr-input"
            [placeholder]="placeholder || ''"
            [(ngModel)]="searchCriteria"
            [attr.data-ui]="DataUi.searchInput"
            [attr.aria-owns]="resultsGridId"
            [attr.aria-controls]="resultsGridId"
            [attr.aria-activedescendant]="activeDescendantId"
        />
        <button class="btn btn-link pin-button" (click)="togglePinned()">
            <clr-icon shape="pin" size="20" [ngClass]="this.searchService.isPinned ? 'is-solid' : ''"> </clr-icon>
        </button>
    </div>
    <clr-control-helper class="input-helper">{{ helper }}</clr-control-helper>
    <ng-container *ngTemplateOutlet="filtersSection"> </ng-container>
    <ng-content select=".top-of-results"></ng-content>
    <div class="search-result-container" role="grid" [attr.id]="resultsGridId" *ngIf="searchInput.value !== ''">
        <div
            class="no-results"
            role="row"
            [attr.data-ui]="DataUi.noResults"
            *ngIf="searchService.hasNoResults && !searchService.isLoading"
        >
            <span role="gridcell" [vcdAriaActiveDescendant]="searchService.hasNoResults && !searchService.isLoading">
                {{ 'vcd.cc.quickSearch.noResults' | translate }}
            </span>
        </div>
        <div
            *ngFor="let searchSection of _ungroupedSearchSections; let i = index; trackBy: sectionTrackBy"
            class="search-result-section section-index-0-{{ i + 1 }}"
            data-ui="search-result-section"
        >
            <div *ngIf="!searchSection.isLoading" role="rowgroup" [attr.aria-labelledby]="'ungrouped-search-' + i">
                <h5
                    *ngIf="searchSection.shouldShowText"
                    class="search-result-section-title"
                    role="presentation"
                    [attr.data-ui]="DataUi.searchResultSectionTitles"
                    [attr.id]="'ungrouped-search-' + i"
                >
                    <ng-container *ngTemplateOutlet="sectionTitle; context: { $implicit: searchSection }">
                    </ng-container>
                </h5>
                <ng-container *ngTemplateOutlet="searchSectionTemplate; context: { $implicit: searchSection }">
                </ng-container>
            </div>
        </div>
        <div *ngFor="let parentSearchSection of _groupedSearchSections; let n = index; trackBy: groupSectionTrackBy">
            <h5
                *ngIf="showParentSectionTitle(parentSearchSection)"
                class="search-result-section-title"
                [attr.data-ui]="DataUi.searchResultSectionTitles"
                [attr.id]="'grouped-search-result-' + n"
                role="presentation"
            >
                {{ parentSearchSection.headerTitle }}
            </h5>
            <div
                *ngFor="let searchSection of parentSearchSection.subSections; let i = index; trackBy: sectionTrackBy"
                class="sub-section"
                role="rowgroup"
                [attr.aria-labelledby]="'grouped-search-result-' + n + ' ' + 'grouped-search-result-section' + i"
            >
                <div *ngIf="!searchSection.isLoading">
                    <p
                        *ngIf="searchSection.shouldShowText"
                        role="presentation"
                        class="p2 search-result-section-title search-result-section section-index-{{ n }}-{{ i }}"
                        [attr.data-ui]="DataUi.searchResultSectionTitles"
                        [attr.id]="'grouped-search-result-section' + i"
                    >
                        <ng-container *ngTemplateOutlet="sectionTitle; context: { $implicit: searchSection }">
                        </ng-container>
                    </p>
                    <ng-container *ngTemplateOutlet="searchSectionTemplate; context: { $implicit: searchSection }">
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <ng-content select=".bottom-of-results"></ng-content>
</ng-template>

<ng-template #drawerComponent>
    <vcd-drawer-component
        (keydown.arrowup)="onArrowUp($event)"
        (keydown.arrowdown)="onArrowDown($event)"
        (keydown.enter)="onEnterKey($event)"
        class="modal-body"
    >
        <ng-container *ngTemplateOutlet="quickSearchInterior"> </ng-container>
    </vcd-drawer-component>
</ng-template>

<clr-modal
    [(clrModalOpen)]="open"
    [clrModalStaticBackdrop]="false"
    (keydown.arrowup)="onArrowUp($event)"
    (keydown.arrowdown)="onArrowDown($event)"
    (keydown.enter)="onEnterKey($event)"
    *ngIf="!searchService.isPinned; else drawerComponent"
>
    <div class="modal-body" [attr.data-ui]="DataUi.modalBody">
        <ng-container *ngTemplateOutlet="quickSearchInterior"> </ng-container>
    </div>
</clr-modal>
