:host ::ng-deep {
    .modal-header {
        display: none;
    }
    .modal-backdrop {
        background: transparent;
    }

    height: 0;
}

.dropdown {
    position: absolute;
}

.modal-body {
    display: flex;
    flex-direction: column;
    height: 500px;

    .search-input-container {
        margin-top: 0.25rem;
        display: flex;

        .search-icon-container {
            margin-top: 2px;
            margin-right: 4px;
        }

        .clr-input {
            flex-grow: 1;
        }
    }

    .search-result-container {
        margin-top: 8px;
        flex: 1;
        overflow: auto;

        .search-result-section {
            margin-top: 8px;
        }

        .search-result-section-title {
            font-weight: bold;
            margin-top: 0;
        }

        .no-results {
            color: var(--clr-color-neutral-500);
            font-style: italic;
        }

        .search-result-item {
            padding-left: 8px;
            &:hover {
                background-color: var(--clr-tree-link-hover-color);
            }

            // These buttons are placed for semantic reasons
            button {
                background: none;
                border: none;
            }
        }
    }
}

.filters-autofill {
    top: 4rem;
}

.selected {
    background-color: var(--clr-global-selection-color);
}

.sub-section {
    padding-left: 8px;
}

.measurement-div {
    flex-shrink: 1;
    visibility: hidden;
    height: 0;
}

.btn.btn-link.pin-button {
    display: flex;
    margin: 0px;
    min-width: 0px;
}

vcd-drawer-component.modal-body {
    display: inline;
    height: unset;
    flex-direction: row;
}

.dropdown-item {
    color: var(--clr-global-font-color);
}

:host ::ng-deep .modal-header--accessible {
    display: none;
}

clr-control-helper.input-helper {
    margin-left: 25px;
    margin-top: 0;
}

.search-icon-container {
    width: 20px;
    height: 20px;
}

.section-title-wrapper {
    display: flex;

    clr-icon {
        margin-right: 5px;
    }
}

.filter-container {
    display: flex;
    clr-dropdown {
        position: static;
    }

    .filter-text {
        margin-right: 10px;
    }

    p {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 10px;
    }
}

.filter-bubble {
    padding-left: 0.4rem;
    padding-right: 0.1rem;

    .btn-link {
        margin: 0px;
    }

    clr-icon {
        color: var(--clr-badge-info-color, white);
    }
}

button.btn-link.remove-col-button {
    margin: 0;
    padding-right: 5px;
    padding-left: 5px;
    clr-icon {
        margin-right: 0px;
    }
}
