<clr-modal
    [(clrModalOpen)]="open"
    [clrModalStaticBackdrop]="false"
    (keydown.arrowup)="onArrowUp($event)"
    (keydown.arrowdown)="onArrowDown($event)"
    (keydown.enter)="onEnterKey($event)"
>
    <div class="modal-body">
        <div class="search-input-container">
            <clr-icon shape="search" size="20"></clr-icon>
            <input
                #searchInput
                type="text"
                class="clr-input"
                [placeholder]="placeholder || ''"
                [(ngModel)]="searchCriteria"
            />
        </div>
        <ng-content select=".top-of-results"></ng-content>
        <div class="search-result-container">
            <section
                *ngFor="let searchSection of searchSections; let i = index"
                class="search-result-section section-index-{{ i }}"
            >
                <h5 *ngIf="showSectionTitle(searchSection)" class="search-result-section-title">
                    {{ searchSection.provider.sectionName }}
                    <span *ngIf="hasPartialResult(searchSection); let partial" class="partial-result">
                        {{ 'vcd.cc.quickSearch.partialResultNotation' | translate: partial }}
                    </span>
                </h5>
                <div *ngIf="searchSection.isLoading">
                    <div class="spinner spinner-inline"></div>
                    {{ 'vcd.cc.loading' | translate }}
                </div>
                <ul *ngIf="!searchSection.isLoading" class="list-unstyled compact">
                    <li
                        class="search-result-item"
                        role="button"
                        *ngFor="let item of searchSection.result?.items"
                        (click)="itemClicked(item)"
                        [ngClass]="item == selectedItem ? 'selected' : ''"
                    >
                        {{ item.displayText }}
                    </li>
                    <li class="no-results" *ngIf="searchSection.result?.items?.length === 0">
                        {{ 'vcd.cc.quickSearch.noResults' | translate }}
                    </li>
                    <li>
                        <clr-alert
                            *ngIf="hasPartialResult(searchSection)"
                            [clrAlertType]="'warning'"
                            [clrAlertSizeSmall]="true"
                            [clrAlertClosable]="false"
                        >
                            <clr-alert-item>
                                {{
                                    'vcd.cc.quickSearch.refineQuery'
                                        | translate: { max: searchSection.result.items.length }
                                }}
                            </clr-alert-item>
                        </clr-alert>
                    </li>
                </ul>
            </section>
        </div>
        <ng-content select=".bottom-of-results"></ng-content>
    </div>
</clr-modal>
