<h2>UI Components</h2>
<p>
    This website showcases components used in <a href="{{ vcdUrl }}">VMware Cloud Director's </a> UI and that can be
    used by plugin developers with two main goals
</p>

<ul>
    <li>
        Shared user experience - plugin developers get the same experience that will remain consistent with VCD's UI
        even as it evolves
    </li>
    <li>Shared code - reuse core functionality that we've found helpful within VCD's UI</li>
</ul>

<h2>Installation</h2>
<code>npm install @vcd/ui-components</code>
<p>For further info and source code, visit <a href="{{ ghReadMeUrl }}">our github page</a>.</p>

<h2>Using this documentation</h2>
<p>The left menu contains links to reusable components. Clicking them will take you to a page that shows three tabs:</p>

<table class="table table-vertical">
    <tbody>
        <tr>
            <th>Description/</th>
            <td>Class level description of the component</td>
        </tr>
        <tr>
            <th>API</th>
            <td><code>@Input</code> and <code>@Output</code> of components</td>
        </tr>
        <tr>
            <th>Examples</th>
            <td>
                Live examples with which can interact, view source code, or even launch in a stackblitz editor to help
                you play with its API
            </td>
        </tr>
    </tbody>
</table>
