<form [formGroup]="formGroup" class="clr-form-horizontal">
    <vcd-form-input
        [label]="'String Input'"
        [type]="'text'"
        [showAsterisk]="true"
        [formControlName]="'stringInput'"
        [hint]="'blahhh'"
        [hintPosition]="'top-right'"
        [description]="'Input with required, email and maxLength(15) validators'"
    >
        <aside>note, after input</aside>
    </vcd-form-input>
    <vcd-form-input
        [label]="'Number Input'"
        [type]="'number'"
        [formControlName]="'numberInput'"
        [min]="70"
        [max]="80"
        [description]="'This input has min attribute set to 70 and max set to 80'"
    >
    </vcd-form-input>
    <vcd-form-input [label]="'Date Input'" [type]="'datetime-local'" [formControlName]="'dateInput'"> </vcd-form-input>
</form>
