<form [formGroup]="formGroup" class="clr-form-horizontal">
    <vcd-form-checkbox
        #checkbox
        [label]="'Checkbox'"
        [formControlName]="'checkboxInput'"
        [description]="'Description below'"
        [text]="'Right Label'"
        hint="Hints display in a signpost"
    >
    </vcd-form-checkbox>

    <vcd-form-checkbox
        #toggleswitch
        [label]="'Toggle switch'"
        [styling]="styling.TOGGLESWITCH"
        [formControlName]="'toggleInput'"
        [description]="'Helper Text tha goes below'"
        text="another right label"
        hint="Hints go inside the signpost, let's make it longer"
    >
    </vcd-form-checkbox>

    <hr />

    <vcd-form-checkbox
        [label]="'Disable components'"
        [formControlName]="'enabledDisabled'"
        [description]="'Toggle this checkbox to enable/disable the toggles'"
        [text]="'Toggle disabled state of controls'"
    >
    </vcd-form-checkbox>
</form>
