<div>
    <p>
        The visibility and disabled status of actions can be dynamically calculated. In the following example, Although
        both stop and start actions are added to list of actions, only one of them can be executed at any given point
        because, for example you cannot stop an already stopped VM. This is made possible by updating the reference to
        selected entities which are updated whenever any of the actions is clicked. The update will prompt the action
        menu to recalculate actions availability and disability status.
    </p>
    <h4>Visibility of actions</h4>
    <p>Clicking on stop will make it disappear and will make start to appear and vice versa.</p>
    <vcd-action-menu
        [actions]="actions"
        [actionDisplayConfig]="dropdownActionDisplayConfig"
        [dropdownTriggerBtnText]="'contextual.actions'"
        [selectedEntities]="selectedEntities"
    >
    </vcd-action-menu>

    <h4>Action availability as observable</h4>
    <p>
        The availability of actions can also be a observable streams. This is useful for actions like static actions
        whose availability sometimes depends on values coming from asynchronous server responses. Out of the following
        actions, The static featured "Action 1" and the contextual "Nested Action 1" have their availability as
        observable streams and they get updated every 2 seconds
    </p>
    <vcd-action-menu [actions]="observableActions" [selectedEntities]="[{}]"> </vcd-action-menu>

    <h4>Disabling of actions</h4>
    <p>Clicking on stop will disable it and enable start and vice versa.</p>
    <vcd-action-menu
        [actions]="disabledActions"
        [actionDisplayConfig]="dropdownActionDisplayConfig"
        [dropdownTriggerBtnText]="'contextual.actions'"
        [selectedEntities]="selectedEntitiesForDisabled"
    >
    </vcd-action-menu>
</div>
