Press <code>`{{ kbdShortcut }}`</code> or click
<a href="javascript: void(0);" (click)="spotlightOpen = true">here</a> to open the Spotlight Search.
<p>
    There are two sections. Both return the same result after the search but one is doing it asynchronously.
</p>
<p>
    Use the keyboard arrow keys to move through the search result. You can do this even while the results are still
    loading.
</p>
<p>
    Press 'Enter' to invoke the selected action. You can also use the mouse to click on an item
</p>
<p>
    Use the form below to configure the Spotlight Search
</p>

<form [formGroup]="formGroup" class="clr-form-horizontal">
    <vcd-form-input
        label="Placeholder"
        [type]="'text'"
        [formControlName]="'placeholder'"
        description="The text to be shown in the spotlight search input field when it is empty"
    >
    </vcd-form-input>

    <vcd-form-checkbox
        label="Show empty sections"
        styling="toggle-switch"
        [formControlName]="'showEmptySection'"
        [description]="'Show the section even if the corresponding search has not found any results'"
    >
    </vcd-form-checkbox>
</form>

<vcd-spotlight-search
    [(open)]="spotlightOpen"
    [placeholder]="formGroup.value.placeholder"
    [showEmptySection]="formGroup.value.showEmptySection"
></vcd-spotlight-search>
