Press <kbd>Command</kbd>+<kbd>f</kbd> on MacOS / <kbd>Ctrl</kbd>+<kbd>f</kbd> on PC or click
<a href="javascript: void(0);" (click)="spotlightOpen = true">here</a> to open the Spotlight Search.
<p>
    There is just one section with no title. That's why no section title is displayed at all.
</p>
<p>
    Use the keyboard arrow keys to move through the search result. You can do this even while the results are still
    loading.
</p>
<p>
    Press 'Enter' to invoke the selected action. You can also use the mouse to click on an item
</p>

<vcd-spotlight-search [(open)]="spotlightOpen" [placeholder]="'Search ...'"></vcd-spotlight-search>
