Press <kbd>Command</kbd>+<kbd>f</kbd> on MacOS / <kbd>Ctrl</kbd>+<kbd>f</kbd> on PC or click
<a href="javascript: void(0);" (click)="spotlightOpen = true">here</a> to open the Spotlight Search.
<p>
    There are two sections. One does the search asynchronously while the other synchronously.
</p>
<p>
    Use the keyboard arrow keys to move through the search result. You can do this even while the results are still
    loading.
</p>
<p>
    Press 'Enter' to invoke the selected action. You can also use the mouse to click on an item
</p>
<p>
    Use the form below to configure the Spotlight Search
</p>

<form [formGroup]="formGroup" class="clr-form-horizontal">
    <vcd-form-input
        label="Placeholder"
        [type]="'text'"
        [formControlName]="'placeholder'"
        description="The text to be shown in the spotlight search input field when it is empty"
    >
    </vcd-form-input>
</form>

<vcd-spotlight-search [(open)]="spotlightOpen" [placeholder]="formGroup.value.placeholder"></vcd-spotlight-search>
