<clr-dropdown class="nested-dropdown">
    <button
        [ngClass]="[
            dropdownTriggerBtnTxt ? 'btn btn-link' : '',
            !isNestedDropdown ? 'first-dropdown-toggle' : '',
            dropdownTriggerButtonClassName ? dropdownTriggerButtonClassName : ''
        ]"
        clrDropdownTrigger
        [vcdShowClippedText]="clipTextConfig"
        [disabled]="isDropdownDisabled"
    >
        <ng-container *ngIf="dropdownTriggerBtnTxt">
            {{ dropdownTriggerBtnTxt | translate }}
            <clr-icon *ngIf="!isNestedDropdown" shape="caret down"></clr-icon>
        </ng-container>
        <clr-icon *ngIf="!dropdownTriggerBtnTxt" [attr.shape]="dropdownTriggerBtnIcon"></clr-icon>
    </button>

    <ng-container *ngIf="!isDropdownDisabled">
        <clr-dropdown-menu
            class="nested-dropdown-menu"
            clrPosition="{{ isNestedDropdown ? nestedDropdownPosition : dropdownPosition }}"
            *clrIfOpen
        >
            <ng-container *ngFor="let action of items; trackBy: trackByFunction">
                <ng-container *ngIf="action.children && action.children.length">
                    <div class="dropdown-divider" role="separator"></div>
                    <vcd-dropdown
                        [items]="action.children"
                        [dropdownTriggerBtnTxt]="action.textKey"
                        [dropdownTriggerButtonClassName]="action.class"
                        [nestedDropdownPosition]="nestedDropdownPosition"
                        [isNestedDropdown]="true"
                        [onItemClickedCb]="onItemClickedCb"
                        [isItemDisabledCb]="isItemDisabledCb"
                        [trackByFunction]="trackByFunction"
                        [dropdownItemContents]="dropdownItemContents"
                    ></vcd-dropdown>
                </ng-container>

                <ng-container *ngIf="!action.children">
                    <button
                        [ngClass]="[
                            action.class ? action.class : '',
                            shouldShowIcon ? 'btn-icon' : '',
                            'btn',
                            'btn-link'
                        ]"
                        clrDropdownItem
                        (click)="onItemClickedCb(action)"
                        [disabled]="isItemDisabledCb(action)"
                    >
                        <ng-container *ngIf="shouldShowText">{{
                            action.isTranslatable === false ? action.textKey : (action.textKey | translate)
                        }}</ng-container>

                        <a *ngIf="shouldShowIcon" role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
                            <clr-icon size="1em" [attr.shape]="action.icon"></clr-icon>
                            <span class="tooltip-content" *ngIf="shouldShowTooltip">{{
                                action.textKey | translate
                            }}</span>
                        </a>
                    </button>
                </ng-container>
            </ng-container>
        </clr-dropdown-menu>
    </ng-container>
</clr-dropdown>
