<clr-dropdown>
    <button class="btn btn-link" clrDropdownTrigger>
        <span *ngIf="dropdownTriggerBtnTxt">{{ dropdownTriggerBtnTxt }}</span>
        <clr-icon *ngIf="!dropdownTriggerBtnTxt" shape="ellipsis-horizontal"></clr-icon>
    </button>

    <clr-dropdown-menu clrPosition="{{ dropdownPosition }}" *clrIfOpen>
        <ng-container *ngFor="let action of items; trackBy: trackByFunction">
            <ng-container *ngIf="action.children && action.children.length">
                <div class="dropdown-divider" role="separator" aria-hidden="true"></div>
                <vcd-dropdown
                    [items]="action.children"
                    [dropdownTriggerBtnTxt]="action.textKey"
                    [dropdownPosition]="nestedDropdownPosition"
                    [nestedDropdownPosition]="nestedDropdownPosition"
                    [onItemClickedCb]="onItemClickedCb"
                    [isItemDisabledCb]="isItemDisabledCb"
                    [trackByFunction]="trackByFunction"
                    [shouldShowIcon]="shouldShowIcon"
                    [shouldShowText]="shouldShowText"
                    [shouldShowTooltip]="shouldShowTooltip"
                ></vcd-dropdown>
            </ng-container>

            <ng-container *ngIf="!action.children && (!action.availability || action.availability)">
                <button
                    class="btn btn-link"
                    [ngClass]="{ 'btn-icon': shouldShowIcon }"
                    clrDropdownItem
                    (click)="onItemClickedCb(action)"
                    [disabled]="isItemDisabledCb(action)"
                >
                    <span *ngIf="shouldShowText">{{
                        action.isNotTranslatable ? action.textKey : (action.textKey | translate)
                    }}</span>

                    <a *ngIf="shouldShowIcon" role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
                        <clr-icon size="1em" [attr.shape]="action.icon"></clr-icon>
                        <span class="tooltip-content" *ngIf="shouldShowTooltip">{{ action.textKey }}</span>
                    </a>
                </button>
            </ng-container>
        </ng-container>
    </clr-dropdown-menu>
</clr-dropdown>
