<clr-dropdown vcdDynamicDropdown class="nested-dropdown">
    <button
        [ngClass]="[
            dropdownTriggerBtnTxt ? 'btn btn-link' : '',
            !isNestedDropdown ? 'first-dropdown-toggle' : '',
            dropdownTriggerButtonClassName ? dropdownTriggerButtonClassName : ''
        ]"
        clrDropdownTrigger
        [vcdShowClippedText]="clipTextConfig"
        [disabled]="isDropdownDisabled"
        (keydown.enter)="onDropdownTriggerActivated($event)"
        (keydown.space)="onDropdownTriggerActivated($event)"
        (keydown.escape)="onDropdownEscPressed($event)"
    >
        <ng-container *ngIf="dropdownTriggerBtnTxt">
            {{ dropdownTriggerBtnTxt }}
            <cds-icon *ngIf="!isNestedDropdown" shape="caret" direction="down"></cds-icon>
        </ng-container>
        <cds-icon *ngIf="!dropdownTriggerBtnTxt" [attr.shape]="dropdownTriggerBtnIcon"></cds-icon>
    </button>

    <ng-container *ngIf="!isDropdownDisabled">
        <clr-dropdown-menu
            class="nested-dropdown-menu"
            clrPosition="{{ isNestedDropdown ? nestedDropdownPosition : dropdownPosition }}"
            *clrIfOpen
        >
            <ng-container *ngFor="let item of items; let i = index; trackBy: trackByFunction">
                <div
                    *ngIf="shouldRenderAsSeparator(i, item)"
                    class="dropdown-divider"
                    role="separator"
                    aria-hidden="true"
                ></div>

                <ng-container *ngIf="!item.isSeparator && item.children && item.children.length">
                    <vcd-dropdown
                        vcdDropdownFocusHandler
                        [items]="item.children"
                        [selectedEntities]="selectedEntities"
                        [dropdownTriggerBtnTxt]="
                            item.isTranslatable === false ? item.textKey : (item.textKey | translate)
                        "
                        [dropdownTriggerButtonClassName]="item.class"
                        [nestedDropdownPosition]="nestedDropdownPosition"
                        [isNestedDropdown]="true"
                        [trackByFunction]="trackByFunction"
                        [dropdownItemContents]="dropdownItemContents"
                    ></vcd-dropdown>
                </ng-container>

                <ng-container *ngIf="!item.isSeparator && !item.children">
                    <ng-template
                        *ngTemplateOutlet="
                            isObservable(item.availability) ? obsTmpl : actionButtonTmpl;
                            context: { $implicit: item }
                        "
                    ></ng-template>
                </ng-container>

                <!--
                TODO:
                We use lastAvailabilityValue here but this component doesn't set this field on its items so
                items with availability Observables probably won't be displayed.
                We should refactor this component to handle those items similarly to how
                action-menu.component.ts does.
                -->
                <ng-template #obsTmpl let-item>
                    <ng-template
                        *ngIf="item[lastAvailabilityValue]"
                        [ngTemplateOutlet]="actionButtonTmpl"
                        [ngTemplateOutletContext]="{ $implicit: item }"
                    ></ng-template>
                </ng-template>

                <ng-template #actionButtonTmpl let-item>
                    <button
                        *ngIf="isItemAvailable(item)"
                        [ngClass]="[item.class ? item.class : '', shouldShowIcon ? 'btn-icon' : '', 'btn', 'btn-link']"
                        clrDropdownItem
                        (click)="onItemClicked(item)"
                        (keydown.enter)="onDropdownItemActivated($event)"
                        (keydown.space)="onDropdownItemActivated($event)"
                        (keydown.escape)="onDropdownEscPressed($event)"
                        [clrDisabled]="isItemDisabled(item)"
                        [attr.data-ui]="item.textKey"
                    >
                        <ng-container *ngIf="shouldShowText">{{
                            item.isTranslatable === false ? item.textKey : (item.textKey | translate)
                        }}</ng-container>

                        <a *ngIf="shouldShowIcon" role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
                            <cds-icon size="md" [attr.shape]="item.icon"></cds-icon>
                            <span class="tooltip-content" *ngIf="shouldShowTooltip">{{
                                item.textKey | translate
                            }}</span>
                        </a>
                    </button>
                </ng-template>
            </ng-container>
        </clr-dropdown-menu>
    </ng-container>
</clr-dropdown>
