<div [formGroup]="formGroup" class="clr-row">
    <div class="clr-col-6">
        <vcd-number-with-unit-form-input
            *ngIf="unit"
            [label]="'vcd.cc.numeric.filter.from' | translate"
            [formControlName]="'from'"
            [unitOptions]="unitOptions"
            [showUnlimitedOption]="false"
            [min]="0"
            [inputValueUnit]="unit"
        >
        </vcd-number-with-unit-form-input>
        <vcd-form-input
            *ngIf="!unit"
            [type]="'number'"
            [label]="'vcd.cc.numeric.filter.from' | translate"
            [formControlName]="'from'"
            [maxlength]="maxNumberLength"
            (onEnter)="close()"
            (onEscape)="close()"
        ></vcd-form-input>
    </div>

    <div class="clr-col-6">
        <vcd-number-with-unit-form-input
            *ngIf="unit"
            [label]="'vcd.cc.numeric.filter.to' | translate"
            [formControlName]="'to'"
            [unitOptions]="unitOptions"
            [showUnlimitedOption]="false"
            [min]="0"
            [inputValueUnit]="unit"
        >
        </vcd-number-with-unit-form-input>
        <vcd-form-input
            *ngIf="!unit"
            [type]="'number'"
            [label]="'vcd.cc.numeric.filter.to' | translate"
            [formControlName]="'to'"
            [maxlength]="maxNumberLength"
            (onEnter)="close()"
            (onEscape)="close()"
        ></vcd-form-input>
    </div>
</div>
