<clr-modal [clrModalOpen]="open" (clrModalOpenChange)="openChange.emit($event)" [clrModalSize]="'md'" #modal>
    <h3 class="modal-title">{{ dialogHeader | lazyString }}</h3>
    <div class="modal-body">
        <div>
            <ul class="list-unstyled" [formGroup]="optionsFormGroup">
                <li>
                    <div class="flex-row">
                        <clr-checkbox-wrapper>
                            <input
                                class="friendly-names"
                                type="checkbox"
                                clrCheckbox
                                [formControl]="this.friendlyFieldsControl"
                            />
                            <label [attr.data-ui]="DataUi.friendlyNamesToggleLabel">{{
                                friendlyNamesCheckboxLabel | lazyString
                            }}</label>
                        </clr-checkbox-wrapper>
                        <div class="fill-space"></div>
                        <clr-signpost>
                            <clr-icon clrSignpostTrigger shape="info-circle" size="24"></clr-icon>
                            <clr-signpost-content *clrIfOpen>
                                <span>{{ friendlyNamesInfoMessage | lazyString }}</span>
                            </clr-signpost-content>
                        </clr-signpost>
                    </div>
                    <i>{{ friendlyNamesHint | lazyString }}</i>
                    <div class="flex-row">
                        <clr-checkbox-wrapper>
                            <input type="checkbox" clrCheckbox [formControl]="this.sanitizeControl" />
                            <label>{{ sanitizeCheckboxLabel | lazyString }}</label>
                        </clr-checkbox-wrapper>
                        <div class="fill-space"></div>
                        <clr-signpost>
                            <clr-icon clrSignpostTrigger shape="info-circle" size="24"></clr-icon>
                            <clr-signpost-content *clrIfOpen>
                                <span>{{ sanitizeInfoMessage | lazyString }}</span>
                            </clr-signpost-content>
                        </clr-signpost>
                    </div>
                    <i>{{ sanitizeCheckboxHint | lazyString }}</i>
                    <div class="flex-row">
                        <clr-checkbox-wrapper>
                            <input type="checkbox" clrCheckbox [formControl]="this.selectAllControl" />
                            <label [attr.data-ui]="DataUi.selectAllToggleLabel">{{ exportAllText | lazyString }}</label>
                        </clr-checkbox-wrapper>
                        <clr-dropdown [clrCloseMenuOnItemClick]="false">
                            <clr-icon
                                [attr.shape]="isDropdownOpen ? 'caret up' : 'caret down'"
                                size="24"
                                clrDropdownTrigger
                                class="dropdown-button"
                                [attr.data-ui]="DataUi.columnCheckboxArrow"
                                *ngIf="!this.selectAllControl.value"
                            ></clr-icon>
                            <clr-dropdown-menu clrPosition="bottom" [formGroup]="formGroup" *clrIfOpen #dropdownMenu>
                                <li
                                    clrDropdownItem
                                    *ngFor="let col of columns"
                                    (click)="selectColumn(col)"
                                    [attr.data-ui]="DataUi.columnSelectionMenuOptions"
                                >
                                    <clr-checkbox-wrapper class="column-checkbox">
                                        <input
                                            type="checkbox"
                                            clrCheckbox
                                            [formControlName]="col.fieldName"
                                            (click)="$event.stopPropagation()"
                                        />
                                        <label (click)="$event.stopPropagation()">{{
                                            this.friendlyFieldsControl.value
                                                ? getDisplayNameForColumn(col)
                                                : col.fieldName
                                        }}</label>
                                    </clr-checkbox-wrapper>
                                </li>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                    </div>
                </li>
            </ul>
            <span
                class="x-button label"
                *ngFor="let column of selectedColumns"
                [attr.data-ui]="DataUi.columnSelectionBubbles"
                [ngStyle]="{ visibility: shouldShowBubbles ? 'visible' : 'hidden' }"
            >
                {{ this.friendlyFieldsControl.value ? getDisplayNameForColumn(column) : column.fieldName }}
                <button
                    type="button"
                    class="btn btn-icon btn-link remove-col-button"
                    aria-label="home"
                    (click)="selectColumn(column, false)"
                    [attr.data-ui]="DataUi.columnBubblesX"
                >
                    <clr-icon shape="close" class="badge badge-info"> </clr-icon>
                </button>
            </span>
        </div>
        <div class="progress-divider"></div>
        <ng-container *ngIf="isRequestPending">{{ exportStage | lazyString }}</ng-container>
        <div class="progress-divider"></div>
        <div class="progress" [ngClass]="{ loop: progress === -1, pending: isRequestPending }">
            <progress max="100" value="{{ progress * 100 }}" [attr.data-ui]="DataUi.progressInput"></progress>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="open = false" [attr.data-ui]="DataUi.cancelButton">
            {{ cancelText | lazyString }}
        </button>
        <button
            type="button"
            class="btn btn-primary"
            [disabled]="!isExportEnabled"
            (click)="onClickExport()"
            [attr.data-ui]="DataUi.exportButton"
        >
            {{ exportText | lazyString }}
        </button>
    </div>
</clr-modal>
