div.progress {
    visibility: hidden;

    &.pending {
        visibility: visible;
    }
}
button.select-all {
    margin: 0;
    padding: 0;
}

clr-tooltip-content {
    width: 200px !important;
}
