<button class="btn" (click)="spotlightOpen = !spotlightOpen">Press to open Quick Search</button>
<p>
    This example demonstrates how you can project content into the quick search. You can specify your custom content
    above or below the search results.
</p>
<p>Use the form below to configure the projected content</p>

<form class="clr-form-horizontal">
    <vcd-form-checkbox
        [label]="'Display info at the top'"
        [styling]="styling.TOGGLESWITCH"
        [formControl]="formGroup.controls.topSection"
    >
    </vcd-form-checkbox>
    <vcd-form-checkbox
        [label]="'Display info at the bottom'"
        [styling]="styling.TOGGLESWITCH"
        [formControl]="formGroup.controls.bottomSection"
    >
    </vcd-form-checkbox>
</form>

<vcd-quick-search accessibilityTitle="Quick Search" [(open)]="spotlightOpen" [placeholder]="'Search...'">
    <div class="top-of-results info" *ngIf="formGroup.controls.topSection.value">Top of results</div>
    <div class="bottom-of-results info" *ngIf="formGroup.controls.bottomSection.value">Bottom of results</div>
</vcd-quick-search>
