<button class="btn" (click)="spotlightOpen = !spotlightOpen">Press to show Quick Search</button>
<p>This example shows how to configure whether a provider section should be hidden if there are no results.</p>

<p>Use the form below to configure the Quick Search</p>

<form class="clr-form-horizontal">
    <vcd-form-checkbox
        [label]="'Hide empty section'"
        [styling]="CheckBoxStyling.TOGGLESWITCH"
        [formControl]="formGroup.controls.hideEmptySections"
    >
    </vcd-form-checkbox>
</form>

<vcd-quick-search
    accessibilityTitle="Quick Search"
    [(open)]="spotlightOpen"
    [placeholder]="formGroup.controls.placeholder.value"
></vcd-quick-search>
