<p>
    This example demonstrates how you can project content into the quick search. You can specify your custom content
    above or below the search results.
</p>
<p>
    Press <kbd>Command</kbd>+<kbd>f</kbd> on MacOS / <kbd>Ctrl</kbd>+<kbd>f</kbd> on PC or click
    <a href="javascript: void(0);" (click)="spotlightOpen = true">here</a> to open the Quick Search.
</p>
<p>Use the form below to configure the projected content</p>

<form [formGroup]="formGroup" class="clr-form-horizontal">
    <vcd-form-checkbox
        [label]="'Display info at the top'"
        [styling]="styling.TOGGLESWITCH"
        [formControlName]="'topSection'"
    >
    </vcd-form-checkbox>
    <vcd-form-checkbox
        [label]="'Display info at the bottom'"
        [styling]="styling.TOGGLESWITCH"
        [formControlName]="'bottomSection'"
    >
    </vcd-form-checkbox>
</form>

<vcd-quick-search accessibilityTitle="Quick Search" [(open)]="spotlightOpen" [placeholder]="'Search...'">
    <div class="top-of-results info" *ngIf="formGroup.controls['topSection'].value">Top of results</div>
    <div class="bottom-of-results info" *ngIf="formGroup.controls['bottomSection'].value">Bottom of results</div>
</vcd-quick-search>
