<div class="form-group">
    <div
        class="clr-form-control"
        [vcdResponsiveInput]="{ disabled: !isResponsive }"
        [ngClass]="{ 'clr-form-control-disabled': disabled }"
    >
        <label class="clr-control-label" [for]="id" *ngIf="!hideLabel">{{ label }}</label>
        <div class="clr-control-container" [ngClass]="{ 'clr-error': showErrors }">
            <div [ngClass]="{ 'clr-checkbox-wrapper': isCheckbox, 'clr-toggle-wrapper': !isCheckbox }">
                <input
                    type="checkbox"
                    [id]="id"
                    [attr.aria-label]="!hideLabel ? null : label"
                    [attr.aria-describedby]="showErrors ? errorsId : descriptionId"
                    [ngClass]="{ 'clr-checkbox': isCheckbox, 'clr-toggle': !isCheckbox }"
                    [formControl]="formControl"
                />
                <label class="clr-control-label" [for]="id">
                    <clr-icon *ngIf="iconShape" [attr.shape]="iconShape"></clr-icon>
                    {{ text }}
                </label>
                <clr-signpost *ngIf="hint">
                    <clr-signpost-content [clrPosition]="hintPosition" *clrIfOpen>
                        <p>{{ hint }}</p>
                    </clr-signpost-content>
                </clr-signpost>
            </div>
            <span class="clr-subtext" *ngIf="showErrors" [id]="errorsId">
                <div *ngFor="let key of errorKeys">
                    <div>{{ key | translate: formControl.value }}</div>
                </div>
            </span>
            <span class="clr-subtext" *ngIf="!showErrors && description" [id]="descriptionId">
                {{ description }}
            </span>
        </div>
    </div>
    <span class="clr-subtext">
        <ng-content select="footer"></ng-content>
    </span>
</div>
