<div class="card">
    <div class="card-header-main">
        <div class="card-header">
            {{ exampleEntry?.title }}
        </div>

        <div class="example-button-container">
            <clr-icon
                shape="play"
                size="32"
                class="is-solid"
                (click)="onRunButtonClick()"
                aria-label="Edit example on StackBlitz"
                title="Edit example on StackBlitz"
            ></clr-icon>
            <clr-icon
                shape="code"
                size="32"
                (click)="onCodeButtonClick()"
                [ngClass]="{ 'is-showing': showSourceCode }"
                aria-label="Show source code"
                title="Show source code"
            ></clr-icon>
        </div>
    </div>

    <div class="card-block source-code-container" *ngIf="showSourceCode">
        <vcd-source-code-viewer [component]="exampleEntry?.component"> </vcd-source-code-viewer>
    </div>
    <div class="card-block">
        <div class="card-text">
            <vcd-overview-viewer
                [isNoOverviewMessageShown]="false"
                [component]="exampleEntry?.component"
            ></vcd-overview-viewer>
            <template #exampleContainer> </template>
        </div>
    </div>
</div>
