$radius: 3px;
$margin: 0.5rem;
$bg-clr: #d8e3e9;

.card-header-main {
    display: flex;

    .card-header {
        flex: 1;
    }

    .example-button-container {
        display: flex;
        margin: 0.4rem $margin 0 0;
        padding: 0 4px;

        &.example-shown {
            border-radius: $radius $radius 0 0;
            background-color: $bg-clr;
        }
        clr-icon {
            margin: 0 2px;
            cursor: pointer;
            align-self: center;
        }
    }
}
.source-code-container {
    border-radius: $radius 0 $radius $radius;
    margin: 0 $margin;
    background-color: $bg-clr;
}

