$radius: 3px;
$margin: 0.5rem;

.card-header-main {
    display: flex;
    background-color: #ddd;

    .card-header {
        flex: 1;
    }

    .example-button-container {
        display: flex;
        margin: 0 $margin 0 0;

        clr-icon {
            cursor: pointer;
            align-self: center;
            border: 1px solid transparent;

            &.is-showing[shape='code'] {
                border-color: #333 #fff #fff #333;
            }
        }
    }
}
.source-code-container {
    border-radius: $radius 0 $radius $radius;
    margin: 0 $margin;
}

:host ::ng-deep vcd-overview-viewer {
    & > div > p {
        margin-bottom: 10px;
    }
}
