<div class="form-group">
    <div
        class="clr-form-control"
        [vcdResponsiveInput]="{ disabled: !isResponsive }"
        [ngClass]="{ 'clr-form-control-disabled': disabled }"
    >
        <label *ngIf="label" class="clr-control-label" [for]="id" [ngClass]="{ 'required-field': showAsterisk }">{{
            label
        }}</label>
        <div class="clr-control-container" [ngClass]="{ 'clr-error': showErrors }">
            <div class="clr-input-wrapper">
                <input
                    [attr.type]="type"
                    [id]="id"
                    class="clr-input"
                    #textInput
                    (input)="inputChanged()"
                    [disabled]="disabled"
                    [attr.placeholder]="placeholder"
                    [attr.size]="size"
                    [min]="min"
                    [max]="max"
                    [attr.maxlength]="maxlength"
                    [attr.aria-required]="showAsterisk"
                    [attr.aria-describedby]="showErrors ? errorsId : descriptionId"
                    (blur)="inputChanged()"
                    (keyup.enter)="enterClicked.emit(true)"
                    (keyup.escape)="escapeClicked.emit(true)"
                />
                <clr-icon *ngIf="showErrors && !hint" class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                <ng-content select="aside"></ng-content>
                <clr-signpost *ngIf="hint">
                    <clr-signpost-content [clrPosition]="hintPosition" *clrIfOpen>
                        <p>{{ hint }}</p>
                    </clr-signpost-content>
                </clr-signpost>
            </div>
            <span class="clr-subtext" *ngIf="showErrors" [id]="errorsId">
                <div *ngFor="let key of errorKeys">
                    <div>{{ key | translate: formControl.value:min.toString():max }}</div>
                </div>
            </span>
            <span class="clr-subtext" *ngIf="!showErrors && description" [id]="descriptionId">
                {{ description }}
            </span>
        </div>
    </div>
</div>
<div class="clr-subtext">
    <ng-content select="footer"></ng-content>
</div>
