.form-group.hide-label {
    padding-left: 0;
}

:host-context(.modal):not(.adjust-aside-left) {
    .form-label {
        flex-grow: 1;
    }
    .form-label > input {
        width: 100%;
    }
}

.form-group-description {
    margin-bottom: 15px;
}

clr-signpost p:first-child {
    margin-top: 0;
}
