:host(.inline) {
    display: inline-block;
    vertical-align: middle;
}

clr-tooltip {
    display: block;

    .text-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
