.clr-control-container .clr-input {
    margin-right: 5px;
}

// To make the text input and the select align, it still doesn't at some zoom levels.
input[type='number'] {
    margin-top: 1px;
}

.clr-input-wrapper {
    align-items: center;
    display: flex;
}

.clr-error {
    // When there's an error, the arrow in the dropdown is offset, undo it
    .clr-select-wrapper::after {
        right: 0.3rem;
    }
    .clr-validate-icon {
        margin-left: 0;
    }
}

div.clr-select-wrapper {
    width: auto; // The width is being set to 100% else where making this div grow wider than necessary
    flex: 0 1 auto;
}

.single-option {
    flex: 0;
}
