single-option {
    margin-left: 4px;
    margin-top: 12px;
}

:host {
    display: block;
}

aside > * {
    display: inline-block;
}

/* Undo the nowrap added by .clr-input-container */
clr-signpost-content {
    white-space: normal;
}

:host ::ng-deep {
    .clr-control-container {
        flex: 0 1 auto;
    }

    .input-number-with-unit {
        .clr-subtext:empty {
            display: none;
        }

        .clr-form-control.errors {
            margin-top: 0;

            label {
                margin: 0;
            }
        }

        clr-signpost {
            button {
                height: 1.3rem;
                clr-icon {
                    vertical-align: baseline;
                    transform: none;
                }
            }
        }

        vcd-form-input {
            input {
                width: 5rem;
            }
        }

        .clr-control-label {
            + .clr-control-container {
                width: auto;
                .clr-input-wrapper {
                    display: flex;
                    .clr-input {
                        margin-right: 0;
                    }
                }
            }
        }

        aside {
            display: flex;
            flex: 0 1 auto;
            min-width: 50px;
            margin-top: -1px !important;
            margin-left: 5px;
            vcd-form-select {
                .clr-form-control {
                    margin-top: 0;
                }
            }
        }

        footer {
            vcd-form-checkbox {
                .clr-form-control {
                    margin-top: 0;
                }
            }
        }
    }
}
