<div class="form-group clr-form-control" *ngIf="isReadOnly">
    <label class="clr-control-label">{{ label }}</label>
    <span class="readonly-text">{{ this.displayValue }}</span>
</div>
<div *ngIf="!isReadOnly" class="input-number-with-unit">
    <vcd-form-input
        #limitedInput
        [formControl]="formGroup.controls.limited"
        [placeholder]="placeholder"
        type="number"
        [size]="size"
        [min]="unitMin"
        [max]="unitMax"
        [maxlength]="maxlength"
        [showAsterisk]="showAsterisk"
        [label]="label"
        [description]="description"
    >
        <aside [ngSwitch]="unitOptions.length">
            <ng-container *ngSwitchCase="0">
                <!-- Do not display unit -->
            </ng-container>
            <ng-container *ngSwitchCase="1">
                <div class="single-option">{{ unitOptions[0].getUnitNameTranslationKey() | translate }}</div>
            </ng-container>
            <vcd-form-select
                class="combo-options"
                *ngSwitchDefault
                #unitDropdown
                [options]="comboOptions"
                [formControl]="formGroup.controls.comboUnitOptions"
            >
            </vcd-form-select>
            <clr-signpost *ngIf="hint">
                <clr-signpost-content [clrPosition]="hintPosition" *clrIfOpen>
                    <p>{{ hint }}</p>
                </clr-signpost-content>
            </clr-signpost>
        </aside>
    </vcd-form-input>
    <div class="clr-form-control errors clr-row" *ngIf="showErrors">
        <!-- Label is here to take up space so that the error aligns with the right side only-->
        <label class="clr-control-label clr-col-12 clr-col-md-2"></label>
        <div class="clr-error clr-col">
            <span class="clr-subtext">
                <div *ngFor="let error of errors | keyvalue">
                    <div>{{ error.key | translate: getErrorTranslationParams(error.value) }}</div>
                </div>
            </span>
        </div>
    </div>

    <footer *ngIf="showUnlimitedOption">
        <!-- Setting [label] to space ensures the label is created hence the checkbox aligned properly -->
        <vcd-form-checkbox
            [label]="' '"
            [text]="'vcd.cc.unlimited' | translate"
            [formControl]="formGroup.controls.unlimited"
        ></vcd-form-checkbox>
    </footer>
</div>
