<clr-alert [clrAlertType]="'info'" [clrAlertAppLevel]="true">
    <clr-alert-item>
        <span class="alert-text">
            Stay tuned! We will have components showing up here soon.
        </span>
        <div class="alert-actions">
            <button class="btn alert-action">Fix</button>
        </div>
    </clr-alert-item>
</clr-alert>
<h1>VCD UI Common Components</h1>
<router-outlet></router-outlet>

<h2>Data Exporter</h2>
<button (click)="dataExporterOpen = true">
    Show Modal
</button>
<vcd-data-exporter
    *ngIf="dataExporterOpen"
    [(open)]="dataExporterOpen"
    (dataExportRequest)="onExportRequest($event)"
    [columns]="exportColumns"
>
</vcd-data-exporter>

<h2></h2>
<vcd-doc-lib></vcd-doc-lib>

<clr-icon shape="atom"></clr-icon>
