<clr-tabs>
    <clr-tab>
        <button clrTabLink>Documentation</button>
        <clr-tab-content>
            <vcd-overview-viewer [component]="documentationEntry?.component"> </vcd-overview-viewer>
        </clr-tab-content>
    </clr-tab>

    <clr-tab>
        <button clrTabLink>API</button>
        <clr-tab-content>
            <vcd-api-viewer [component]="documentationEntry?.component"> </vcd-api-viewer>
        </clr-tab-content>
    </clr-tab>

    <clr-tab>
        <button clrTabLink>Examples</button>
        <clr-tab-content>
            <vcd-example-viewer
                *ngFor="let exampleDescriptor of documentationEntry?.examples"
                [exampleEntry]="exampleDescriptor"
            >
            </vcd-example-viewer>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>
