# Trigger the workflow on push to any branch or on pull request into master
name: vmware-cloud-director-ui-components
on:
    push:
    pull_request:
        branches: [master, a11y]
        types: [opened, reopened, synchronize]

jobs:
    nx-build:
        runs-on: ubuntu-latest
        name: Building, linting and testing affected components
        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - uses: actions/setup-node@v3
              with:
                  node-version: 16.10.0
            - uses: bahmutov/npm-install@v1
#            Cannot run in parallel because it tries to run ngcc for each test target.
            - run: npx nx affected --target=test --base=origin/master --parallel=1
            - run: npx nx affected --target=lint --base=origin/master --parallel=1
            - name: Upload coverage to Codecov
              if: success()
              uses: codecov/codecov-action@v1

    gh-pages-deploy:
        runs-on: ubuntu-latest
        name: Deploying to Github pages
        needs: [nx-build]
        steps:
            -   uses: actions/checkout@v3
            -   uses: actions/setup-node@v3
                with:
                    node-version: 16.10.0
            -   uses: bahmutov/npm-install@v1
            - run: |
                  npx nx build examples --configuration=production --base-href=/vmware-cloud-director-ui-components/
                  npx ng deploy --no-build
              if: github.event_name == 'push' && github.ref == 'refs/heads/master'
              env:
                  GH_TOKEN: ${{ secrets.GH_TOKEN }}
